.col-3 {
    border-style: solid;
    border-width: 1px;
    border-color: #c4c4c4;
}
.col-9 {
    border-top: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 77%);
    width: 100%;
    padding: 0;
}
