#rowHeader {
    border-bottom: solid;
    border-width: 1px;
    border-color: #c4c4c4;
    height: 100px;
    margin: 0;
}
.col-8 {
    border-right: solid;
    border-width: 1px;
    border-color: #c4c4c4;
}