.List__Container {
  display: flex;
  flex-direction: column;

 

  .Container__Title {
    box-sizing: border-box;
    height: 15%;
    min-height: 100px;
    max-height: 100px;
    height: 100px;
    padding: 0;
    border-bottom: solid;
    border-width: 1px;
    border-color:#c4c4c4;
  }
  .List__Room {
    display: flex;
    flex-direction: column;
  }
}

.Modal__addFriend {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  background: white;
}