@import './../../constant/responsive.scss';

.HomePage__Header {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
  position: absolute;

  .content--sticky {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    z-index: 990;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    background: #000;
  }

  .Header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 100%;
    padding: 15px 0px;
  
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;

    @media #{$mobile_device} {
      padding: 10px 0px;
      background: #2C2C2C;
    }

    .User__info {
      display: none;
      
      @media #{$mobile_device} {
        display: flex;
        align-items: center;
      }
      .User__img{
          width:30px;
          height:30px;
          border-radius: 15px;
          cursor: pointer;
      }
      .User__name {
          font-size: 14px;
          padding-left: 10px;
          color: white;
      }
      .Icon__dropdown {
          color: white;
      }
    }

    .Header__Logo {
      height: 100%;
      width: 20%;
      max-width: 60px;
      min-width: 40px;
      margin-left: 30px;
    }
    
    .Header__navigation {
      display: flex;
      justify-content: center;
      align-items: center;

      @media #{$mobile_device} {
        display: none;
      }
      .Header__link {
        margin: 10px;
    
        color: white;
    
        text-decoration: unset;

        cursor: pointer;
        &:hover{
          font-weight: bold;
          opacity: 1;
        }
      }
    }

    .Header__MenuIcon {
      display: none;
      @media #{$mobile_device} {
        display: block;
      }
    }
  }
}