.AddFriendModal__content {
  .Content__Title {
    text-align: center;
  }
  .Search__form {
    display: flex;
    .Input__style {

    }
    .Icon__search {
      
    }
  }
  .ShowInfo__search {
    display: flex;
    .User__Image {
      width: 30px;
      height: 30px;
    }
    .User__name {
      
    }
    .User__add {

    }
  }
}
