@import './../../constant/responsive.scss';

.Footer {
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
   
    @media #{$FHD_screen} {
        position: absolute;
    }

    .Footer_Top {
        display: flex;
        justify-content: space-around;
        height: 80%;
        background: #1F1F1F;

        padding-bottom: 20px;

        .About_TalkDer {
            margin-top: 20px;
            color: #C7C7C7;
            @media #{$mobile_device} {
                width: 35%;
                text-align: center;
            }
            
            .TalkDer {
                color: #C7C7C7;
                font-size: 30px;
                @media #{$mobile_device} {
                    font-size: 12px;
                }
            }
            .TalkDer_Description {
                color: #C7C7C7;
                font-size: 20px;
                @media #{$mobile_device} {
                    font-size: 9px;
                }
            }
        }
        .Contact_Us {
            margin-top: 20px;
            color: #C7C7C7;
            .Label_Contactus {
                color: #C7C7C7;
                font-size: 30px;
                text-align: center;
                @media #{$mobile_device} {
                    font-size: 12px;
                }
            }
            .List_Student {
                @media #{$mobile_device} {
                    font-size: 10px;
                }
            }
            .Contact__email {
                width:100%;
                text-align: right;

                color: #C7C7C7;
                font-size: 15px;
                @media #{$mobile_device} {
                    font-size: 8px;
                }
            }
        }
    }
    .Footer_Bottom_Copyright {
        height: 20%;
        background: #000000;
        text-align: center;
        padding-bottom: 20px;
        .Copyright_Text {
            margin-top: 20px;
            font-size: 13px;
            color: #C7C7C7;
            margin-bottom: 0;
            font-weight: 400;
        }
    }
}