
.Inbox__Container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .Inbox__name {
        border-bottom: solid;
        border-width: 1px;
        border-color: #c4c4c4;
        box-sizing: border-box;
        min-height: 100px;
        max-height: 100px;
        height: 15%;
        margin: 0;
        padding-top: 20px;
        padding-left: 10px;
    }
    
    .Container__InboxAndSettings {
        display: flex;
        padding: 10px;
    }
}