@import './../../constant/custom-styles.scss';
@import './../../constant/responsive.scss';

.AuthenComponent {
    // Login Form before LOGIN
    .Button__component{
        margin-right: 24px;
        @media #{$mobile_device} {
            display: none;
        }
        .Register {
            @include wordfont;
            width: 59px;
            height: 22px;
            font-size: 14px;
            // background-color: white;
            background: transparent;
            border: white;
            color: white;
            margin-right: 24px;
            
            text-decoration: unset;
        }
        .Login {
            @include wordfont;
            padding: 10px 40px;

            color: #fff;

            background-color: #42B3FA;

            font-weight: 500;
            font-size: 14px;

            text-decoration: unset;

            border: 1px solid transparent;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        } 
    }

    // __________________________________________________________________________________________________

    // USER FORM AFTER LOGIN
    .User__form{
        position: relative;
        .User__info {
            display: flex;
            align-items: center;

            padding-right: 30px;
            .User__img{
                width:30px;
                height:30px;
                border-radius: 15px;
                cursor: pointer;
            }
            .User__name {
                font-size: 14px;
                padding-left: 10px;
                color: white;
            }
            .Icon__dropdown {
                color: white;
            }
        }
        
        .User__navigate{
            position: absolute;
            z-index:20;
            background-color: #fbfbfb;
            border: 2px solid #4d4d4d;
            border-radius: 15px;
            hr {
                border: 0.5px solid #4d4d4d;
            }
            .Settings__link {
                text-decoration: unset;
                color: #4d4d4d;
            }
            .User__settings {
                text-align: center;
                margin: 10px;
                font-size: 12px;
                font-weight: 500;
                color: #4d4d4d;
                cursor: pointer;
            }
        }
    }

}
