.react-rater-star.is-active {
  color: rgb(246, 244, 81);
}

img{
  object-fit: cover;
}

@mixin wordfont {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
}
@mixin flexaround {
  display:flex;
  justify-content: space-around;
  align-items: center;
}
@mixin flexbetween{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flexcenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexbaseline{
  display:flex;
  justify-content: baseline;
  align-items: center;
}

@mixin LinkTag {
  display:flex;
  position: absolute;
  border: none;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffa15f;
  font-weight: bold;
  color:white;
  justify-content: center;
  align-items: center;
}