@import './../../constant/responsive.scss';

.HomePage {
    height: 100%;

    .App__background {
        background-image: url('/png/banner.png');
        
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
      
        @media #{$mobile_device} {
          height: auto;
          background-size: cover;
        }
    }
}