@import './../../constant/responsive.scss';

.HomePage {
    height: 100%;

    .App__background {
        background-image: url('/png/banner.png');
        height: 900px;
        
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
      
        @media #{$mobile_device} {
          height: auto;
          background-size: cover;
        }
        @media #{$tablet_device} {
          height: 780px;
          // background-size: cover;
        }
        
    }
}